$roboto-font-path: "../node_modules/roboto-fontface/fonts/roboto/" !default;
$primary-color: #4b7082 !default;

$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

